*{ /* Set body page as border-box, not content box */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative; /* use for pop up screen*/
}
#goTopButton{ /* go top button */
    background-color: orange;
    border-radius: 20px;  /* make a small radius*/
    text-decoration: none;
    width: 50px;
    height: 50px;
    position: fixed; /* Position is fixed no matter the screen moving*/
    bottom: 30px;  /* away from bottom 30 pixels*/
    right: 30px;   /* away from right 30 pixels */
    z-index: 2; /* Make this button always on the top*/

    text-align: center; /* put text in center*/
    padding-top: 15px;
}
html{ /* slowly scrolling*/
    scroll-behavior: smooth;
}

/*----------------------------------- Pop up screen ------------------------------------------*/
.body_popUp{ /* Full page for pop up screen */
    left: 0;
    top: -20px;
    width: 100%;
    height: 100%;
    background-color:wheat;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute; /* From Body page*/

    visibility: hidden;
}

.body_popUp-close{ /* Close button */
    width: 50px;
    height: 20px;

    margin-left: auto;
    margin-top: 50px;

    text-decoration: none;
}

.body_popUp-backGround{ /* Pop up backGround */
    /*Opacity low*/
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),url("src/movie_default_bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30%;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.body_popUp-mainImage{ /* Popup Movie Image */
    width: 35%;
    height: 75%;
    margin-right: 30px;
}

.body_popUp-infoSection{ /* pop up screen Info section */
    width: 60%;
    height: 75%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.body_popUp-infoSection-title{ /* pop up screen title */
    margin: 10px;
}
.body_popUp-infoSection-genres{ /* pop up screen generes */
    margin: 10px;
    display: inline;
    width: auto;
    height: auto;
}
.body_popUp-infoSection-genres-item{ /* pop up screen generes items */
    border-radius: 3px;

    float: left;
    margin-left: 10px;
    padding: 1px;
}
.body_popUp-infoSection-description{ /* pop up screen description*/
    width: 80%;
    height: auto;

    margin: 10px;
}
.body_popUp-infoSection-producer{ /* pop up screen producer screen*/
    width: 80%;
    height: 30%;

    display: inline;
    background-color:darkgray;
}
.body_popUp-infoSection-producer-item{ /* pop up screen producer item*/
    float: left;
    margin: 15px;
}

/*---------------------------------- Navigation Bar ---------------------------------------------*/
.pageHead{ /* Set block displace */
    display: block;
    margin: 20px;
}

.config{ /* Config link */
    float: right;
    visibility: hidden;
    text-decoration: none;
}

.navigationBar{ /* Navigation Bar*/
    clear: right; /* Create brand new line */

    display: flex;
    align-items: center; /* Y direction center*/

    border-bottom: 3px solid #333;
}

.navigationBar-logo{ /* Logo Image set up*/
    width: 8%;
    height: auto;
}

.navigationBar-textMenu-item_movieList,
.navigationBar-textMenu-item_likedList{ /* Menu Text */
    font-size: 1.5vw; /* Size based on the navigation bar*/

    float: left;
    margin: 20px;
    padding: 10px;

    list-style-type: none;
}

.navigationBar-textMenu-item_likedList{
    visibility: hidden;
    position: relative; /*Position relative for badge*/
}

.navigationBar-textMenu-item_likedList_badge{
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;
    font-size: 13px;

    position: absolute; /* Position absolute from likelist button*/
    top: 0;
    right: 0;
}

.navigationBar-textMenu a{
    text-decoration: none;
}

.navigationBar-textMenu-item_movieList:hover,
.navigationBar-textMenu-item_likedList:hover{ /* Menu bar hover efficient*/
    background-image: url("src/line-clay-bg.svg");
    background-size: 100% 2px;
    background-repeat: no-repeat;

    background-position: bottom;
}

/*------------------------------------The most popular movies------------------------------------------------*/
.title_Movies{
    margin-left: 20px;
}

.moviePage_switch{ /* use for switch page items*/
    position: relative; /* position relative for movie list and liked list*/
    margin-top: 10px;
}

.movieList_mainPage{ /* Display movie list and buttons*/
    display: block;
}

.movieList_mainPage-buttons{ /* previous and next button */
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

#movieList_mainPage-buttons-previous{
    width: 100px;
}

#movieList_mainPage-buttons-next{
    width: 100px;
}

/*------------------------------------------ Main Movie List ------------------------------------------*/
#mainMovieList{ /* display movie list*/
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainMovieList-item{
    width: 200px;
    height: 100%;
    box-shadow: 1px 4px 5px rgba(0,0,0,0.1);
    background-color: blanchedalmond;

    margin: 50px;
    position: relative; /* Make for hover button */
}

.mainMovieList-item-image{
    width: 100%;
    height: 85%;
    border-radius: 5px;
}

.mainMovieList-item-info{
    display: block;
    text-align: center;
}

.mainMovieList-likeButton-press{
    /*float: right;*/
    background-color: cadetblue;
    border-radius: 5px;
    font-style: oblique;
    top: 3%;
    right: 3%;
    width: 50%;
    height: 10%;

    position: absolute; /* position absolute from page-switch*/
    visibility: hidden;
}

.mainMovieList-item:hover .mainMovieList-likeButton-press{
    visibility: visible;
}

/*----------------------------Liked List-----------------------------------------------------*/

#likedList_mainPage{
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.likedList_mainPage-item{
    width: 200px;
    height: 100%;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: blanchedalmond;

    margin: 50px;
}

.likedList_mainPage-item-image{
    width: 100%;
    height: 85%;
    border-radius: 5px;
}

.likedList_mainPage-item-info{
    display: block;
    text-align: center;
}

/*---------------------------- Loading page ------------------------------------*/
.Loading-page {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 300px;
    opacity: 0.8;
    text-align: center;
    /*display: none;*/
    visibility: hidden;
}

/*---------------------------- Loading page ------------------------------------*/
.DragConfigPage{
    background-color: darkgray;
    width: 100%;
    height: 100%;

    display: block;
    left: 0;
    top: -20px;
    position: absolute;

    visibility: hidden;
}

.DragConfigPage-section{
    background-color: cadetblue;
    width: 800px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;
    margin: auto;
    clear: right;
}

.DragConfigPage-closeImage{
    float: right;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;

    cursor: alias;
}
.DragConfigPage-section-list{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    /*align-items: center;*/

    width: 100%;
    min-width: 250px;
    max-width: 350px;
    height: 100%;
    min-height: 150px;

    background-color: rgba(0 ,0 ,0 ,0.1);
    margin: 0 15px;
    padding: 8px;
    transition: all 0.2s linear;
}
.DragConfigPage-section-list-item{
    background-color: #ddd;
    border-radius: 8px;
    padding: 15px 20px;
    text-align: center;
    margin: 4px 0px;

    border: 3px solid #666;
    cursor: move;
}
.dragoverEfficient{
    border: 3px dotted #666;
}
