*{ /* Set body page as border-box, not content box */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pageHead{ /* Set block displace */
    display: block;
    margin: 20px;
}
.config{ /* Config link */
    float: right;
    visibility: hidden;
}
.navigationBar{ /* Navigation Bar*/
    clear: right; /* Create brand new line */

    display: flex;
    align-items: center; /* Y direction center*/

    border-bottom: 3px solid #333;
}
.navigationBar-logo{ /* Logo Image set up*/
    width: 8%;
    height: auto;
}

.navigationBar-textMenu-item_movieList,
.navigationBar-textMenu-item_likedList{ /* Menu Text */
    float: left;
    margin: 20px;
    font-size: 1.2vw; /* Size based on the navigation bar*/

    list-style-type: none;
}

.navigationBar-textMenu a{
    text-decoration: none;
}

.navigationBar-textMenu-item_movieList:hover,
.navigationBar-textMenu-item_likedList:hover{ /* Menu bar hover efficient*/
    background-image: url("src/line-clay-bg.svg");
    background-size: 100% 2px;
    background-position: bottom;
    background-repeat: no-repeat;
}

/*---------------------------------------------------------------------------------------------------*/

.moviePage_switch{ /* use for switch page items*/
    position: relative;
}
.movieList_mainPage{ /* Display movie list and buttons*/
    display: block;
}
.movieList_mainPage-buttons{ /* previous and next button */
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}
#movieList_mainPage-buttons-previous{
    width: 100px;
}
#movieList_mainPage-buttons-next{
    width: 100px;
}

#mainMovieList{ /* display movie list*/
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainMovieList-item{
    width: 200px;
    height: 100%;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: blanchedalmond;

    margin: 50px;
}
.mainMovieList-item-image{
    width: 100%;
    height: 85%;
    border-radius: 5px;
}
.mainMovieList-item-info{
    display: block;
    text-align: center;
}


/*---------------------------------------------------------------------------------------------------*/

.likedList_mainPage{
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}



